.img-user {
    background: #ffffff;
}

p.error-validation {
    font-size: 12px;
    color: #ff0000;
}

button.btn-primary {
    background-color: #76ab3d !important;
    border-color: #76ab3d !important;
}

button.btn-secondary {
    background-color: #2596be !important;
    border-color: #2596be !important;
}

a.active {
    background-color: #76ab3d !important;
}

.z-index-modal-overlap {
    z-index: 2050;
    background-color: rgba(0, 0, 0, .5);
}

.dataTables_filter {
    display: none !important;
}